.additional-goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    border: none;
    margin-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 112px;
  }
}

.additional-goods__header {
  .oswald-regular-font(normal,24px, @black);
  line-height: 1;
  position: relative;
  padding-right: 70px;
  padding-bottom: 30px;
  margin-bottom: 0;

  &::after {
    content: "";
    background-color: @leaf;
    width: 53px;
    height: 3px;
    position: absolute;
    top: 15px;
    right: 0;

    @media (min-width: @tablet-width) {
      width: 328px;
      top: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    width: 100%;
    padding-left: 47px;

    &::before {
      content: "";
      background-color: @leaf;
      width: 20px;
      height: 3px;
      position: absolute;
      top: 20px;
      left: -10px;
    }
  }
}

.additional-goods__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    border: 1px solid @light-grey;
    width: 895px;
    padding: 28px 38px;
  }

  @media (min-width: @desktop-width) {
    border-left: none;
    border-right: none;
    flex-wrap: nowrap;
    margin-right: 435px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.additional-goods__name {
  text-transform: uppercase;
  .oswald-regular-font(normal,16px, #222222);
  width: 280px;
  padding-top: 14px;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 20px;
    margin-bottom: 20px;
    flex-grow: 2;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 0;
    margin-bottom: 0;
    padding-top: 9px;
  }
}

.additional-goods__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: @grey;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 16px;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 9px;
    flex-grow: 0;
  }
}

.additional-goods__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: @grey;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    text-align: right;
    padding-top: 9px;
  }

  & + .button {
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      width: 100%;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      width: 245px;
      margin-left: 38px;
    }
  }
}
