/*mixins*/
.advantages-icons(@url, @url-retina) {
  content: "";
  position: absolute;
  background-color: @leaf;
  width: 60px;
  height: 60px;
  background-image: @url;
  background-position: center;
  background-repeat: no-repeat;
  right: -5px;
  top: 0;

  @media (min-resolution: @retina-dppx) {
    background-image: @url-retina;
    background-size: 60px 60px;
  }
}

.advantages-icons-tablet(@url, @url-retina) {
  content: "";
  position: absolute;
  background-color: @leaf;
  width: 80px;
  height: 80px;
  background-image: @url;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dppx) {
    background-image: @url-retina;
    background-size: 80px 80px;
  }
}

.advantages-numbers(@number) {
  content: @number;
  position: absolute;
  height: 100%;
  width: 100%;
  .oswald-regular-font(normal, 281px, @light-grey);
  z-index: -1;
  top: -47%;
  left: 33%;
}

.advantages {
  margin: 0 auto 15px auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 30px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 245px;
    padding-right: 0;
    box-sizing: border-box;
  }
}

.advantages__header {
  .blocks-header-font();
  padding-left: 20px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin-bottom: 75px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 78px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.advantages__item {
  font-family: "Arial", sans-serif;
  position: relative;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: @grey;
  padding-left: 100px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    width: 354px;
    padding-left: 0;
    margin-bottom: 135px;
    margin-right: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 20%;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
}

.advantages__item:nth-child(3),
.advantages__item:nth-child(4) {
  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__text {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    line-height: 1.5;
    margin-top: 110px;
    font-size: 16px;
    padding-right: 100px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    line-height: 1.5;
    margin-top: 108px;
  }
}

.advantages__item--leaf::before {
  .advantages-icons(url("../img/advantage-leaf@1x.png"), url("../img/advantage-leaf@2x.png"));
  left: 20px;
  top: -5px;

  @media (min-width: @tablet-width) {
    .advantages-icons-tablet(url("../img/advantage-leaf@1x.png"), url("../img/advantage-leaf@2x.png"));
    left: 0;
  }
}

.advantages__item--leaf::after {
  @media (min-width: @tablet-width) {
    .advantages-numbers("1");
  }

  @media (min-width: @desktop-width) {
    left: 50%;
  }
}

.advantages__item--powder::before {
  .advantages-icons(url("../img/advantage-powder@1x.png"),url("../img/advantage-powder@2x.png"));
  left: 20px;
  top: -5px;

  @media (min-width: @tablet-width) {
    .advantages-icons-tablet(url("../img/advantage-powder@1x.png"),url("../img/advantage-powder@2x.png"));
    left: 0;
  }
}

.advantages__item--powder::after {
  @media (min-width: @tablet-width) {
    .advantages-numbers("2");
  }

  @media (min-width: @desktop-width) {
    left: 47%;
  }
}

.advantages__item--cutlery::before {
  .advantages-icons(url("../img/advantage-dining@1x.png"), url("../img/advantage-dining@2x.png"));
  left: 20px;
  top: -5px;

  @media (min-width: @tablet-width) {
    .advantages-icons-tablet(url("../img/advantage-dining@1x.png"), url("../img/advantage-dining@2x.png"));
    left: 0;
  }
}

.advantages__item--cutlery::after {
  @media (min-width: @tablet-width) {
    .advantages-numbers("3");
  }

  @media (min-width: @desktop-width) {
    left: 47%;
  }
}

.advantages__item--weigher::before {
  .advantages-icons(url("../img/advantage-clock@1x.png"), url("../img/advantage-clock@2x.png"));
  left: 20px;
  top: -5px;

  @media (min-width: @tablet-width) {
    .advantages-icons-tablet(url("../img/advantage-clock@1x.png"), url("../img/advantage-clock@2x.png"));
    left: 0;
  }
}

.advantages__item--weigher::after {
  @media (min-width: @tablet-width) {
    .advantages-numbers("4");
  }

  @media (min-width: @desktop-width) {
    left: 47%;
  }
}
