.button {
  display: block;
  /*width: auto;*/
  background-color: @leaf;
  .oswald-regular-font(normal, 14px, @white);
  line-height: 1.29;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-left: 20px;
  margin-right: 20px;

  &--grey {
    background-color: @light-grey;
    color: @grey;
  }
}
