.catalog-header {
  .blocks-header-font();
  margin-top: 0;
  margin-bottom: 28px;
  padding-top: 15px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    padding-left: 30px;
    margin-top: 22px;
    margin-bottom: 23px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-top: 0;
    margin-top: 55px;
  }
}
