.catalog__wrap {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__header {
  .blocks-header-font();
  margin-top: 0;
  margin-bottom: 28px;
  padding-top: 15px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    padding-left: 30px;
    margin-top: 22px;
    margin-bottom: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 1260px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    margin-top: 55px;
    margin-bottom: 24px;
  }
}

.catalog__list {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

.catalog__list li {
  @media (min-width: @desktop-width) {
    width: 20.08%;
  }
}
