.form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 635px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @tablet-width) {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
  }
}

.form {
  width: 320px;
  padding-left: 20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 634px;
    padding-right: 67px;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__label {
  text-transform: uppercase;
  .oswald-regular-font(normal, 16px, @black);
  margin-right: 15px;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.form__cat-info {
  border: none;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid @ligt-grey-line;
}

.form__text-input {
  .oswald-regular-font(normal, 16px, @grey);
  text-transform: uppercase;
  border: 1px solid @ligt-grey-line;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 14px;
  flex-grow: 1;

  &::placeholder {
    color: @grey;
  }
}

.form__type {
  .fielset-reset();
}

.form__owner-contact {
  border: none;
  padding-bottom: 23px;
  border-bottom: 1px solid @ligt-grey-line;

  & .form__list {
    @media (min-width: @desktop-width) {
      flex-wrap: nowrap;
      width: 1220px;
    }
  }
}

.form__header {
  .oswald-regular-font(normal, 24px, @black);
  padding-right: 110px;
  padding-top: 30px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.form__comments {
  .fielset-reset();
}

.form__comments .form__text-input {
  @media (min-width: @tablet-width) {
    width: 615px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__add {
  .fielset-reset();
  border: none;
}

.form__notification {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: @grey;
}

.form__button {
  width: 280px;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__list li {
  display: flex;
  width: 100%;
}

.form__list--radio {
  @media (min-width: @tablet-width) {
    border: 1px solid @ligt-grey-line;
  }
}

.form__list--checkbox {
  @media (min-width: @tablet-width) {
    border: 1px solid @ligt-grey-line;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    border: none;
  }

  & li {
    @media (min-width: @tablet-width) {
      width: 50%;
    }

    @media (min-width: @desktop-width) {
      width: 25%;
    }
  }
}
