.form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 635px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @tablet-width) {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
  }
}

.form {
  width: 320px;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 634px;
    padding-right: 67px;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__label {
  text-transform: uppercase;
  .oswald-regular-font(normal, 16px, @black);
  margin-right: 13px;
  padding-top: 15px;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.form__label--radio::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid @ligt-grey-line;
  border-radius: 50%;
  top: 3px;
  left: 18px;
}

.form__cat-info {
  padding-left: 20px;
  padding-top: 0;
  width: 87.5%;
  border: none;
  padding-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}

.form__text-input {
  .oswald-regular-font(normal, 16px, @grey);
  text-transform: uppercase;
  border: 1px solid @ligt-grey-line;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 14px;
  flex-grow: 1;

  &::placeholder {
    color: @grey;
  }
}

.form__type {
  .fielset-reset();
  width: 100%;
  border: 1px solid @ligt-grey-line;
  padding-bottom: 10px;
  padding-top: 15px;
  margin-bottom: 27px;

  & .form__label {
    padding-top: 10px;
    padding-left: 65px;
    margin-bottom: 15px;
  }
}


.form__owner-contact {
  border: none;
  padding-bottom: 11px;
  padding-left: 18px;
  padding-right: 20px;
  margin-right: 0;
  margin-left: 0;

  & .form__list {
    @media (min-width: @desktop-width) {
      flex-wrap: nowrap;
      width: 1220px;
    }
  }
}

.form__header {
  .oswald-regular-font(normal, 24px, @black);
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.form__comments {
  .fielset-reset();
  padding-left: 20px;
}

.form__comments .form__text-input {
  @media (min-width: @tablet-width) {
    width: 615px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__add {
  .fielset-reset();
  padding-left: 20px;
  border: none;
}

.form__label--check {
  padding-top: 15px;
  padding-left: 45px;
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid @ligt-grey-line;
    top: 10px;
    left: 0;
  }
}

.form__notification {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: @grey;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

.form__button {
  width: 87.5%;
  margin-left: 20px;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__list li {
  display: flex;
  width: 100%;
}

.form__list--radio {
  @media (min-width: @tablet-width) {
    border: 1px solid @ligt-grey-line;
  }
}

.form__list--checkbox {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    border: 1px solid @ligt-grey-line;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    border: none;
  }

  & li {
    @media (min-width: @tablet-width) {
      width: 50%;
    }

    @media (min-width: @desktop-width) {
      width: 25%;
    }
  }
}
