.main-promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
  padding-top: 29px;
}

.main-promo__description {
  .oswald-regular-font(normal, 36px, @white);
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto 19px;
}

.main-promo__slogan {
  text-transform: uppercase;
  .oswald-regular-font(normal, 14px, @white);
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto 29px;
}
