.product {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 23px;
  border: 1px solid @ligt-grey-line;
  border-bottom: none;

  @media (min-width: @tablet-width) {
    margin-top: 138px;
    background-color: @light-grey;
    width: 324px;
    padding-bottom: 38px;
    padding-left: 0;
    padding-top: 165px;
    border: none;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    box-sizing: border-box;
    margin-top: 140px;
    padding-bottom: 36px;
    padding-top: 164px;
  }
}

.product__wrap {
  @media (min-width: @desktop-width) {
    width: 68.97%;
    margin-left: auto;
    margin-right: auto;
  }
}

.product__card-link {
  text-decoration: none;
}

.product__name {
  text-transform: uppercase;
  .oswald-regular-font(normal,16px, @black);
  width: 75px;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: center;
    width: auto;
    padding-left: 95px;
    padding-right: 95px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
  }
}

.product__properties {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: @grey;
  width: 140px;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
    margin-left: 40px;
    margin-right: 38px;
    margin-bottom: 33px;
    width: 247px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  & tr {
    @media (min-width: @tablet-width) {
      border-bottom: 1px solid @ligt-grey-line;
    }
  }

  & td {
    @media (min-width: @tablet-width) {
      padding-top: 7px;
      padding-left: 0;
      padding-bottom: 8px;
    }
  }
}

.product__value {
  text-align: right;
}

.product__image {
  width: 140px;
  height: 144px;
  vertical-align: top;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 308px;
  }
}
