.program-selection__form {
  display: flex;
  flex-wrap: wrap;
}

.program-selection__header {
  .blocks-header-font();
  padding-top: 20px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    padding-left: 32px;
  }
}

.program-selection__text {
  .oswald-regular-font(normal, 14px, @black);
  text-transform: uppercase;
  padding-right: 70px;
  padding-left: 20px;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-left: 70px;
    margin-right: 300px;
  }
}
