.promotion {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 280px;
  margin-top: 39px;
  margin-left: 20px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 68px;
    margin-left: 30px;
    margin-bottom: 75px;
    width: 92%;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    top: 1573px;
    right: 205px;
    width: 245px;
    margin: 0;
  }
}

.promotion__offer {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: @white;
  padding-top: 187px;
  padding-left: 70px;
  padding-bottom: 43px;
  padding-right: 60px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    filter: invert(1);
    width: 56px;
    height: 61px;
    background-repeat: no-repeat;
    top: 64px;
    left: 115px;

    @media (min-width: @tablet-width) {
      left: 90px;
      top: 68px;
    }

    @media (min-width: @desktop-width) {
      left: 97px;
      top: 100px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-right: 0;
    margin-right: 110px;
    padding-left: 425px;
    padding-top: 75px;
    padding-bottom: 69px;
    text-align: left;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-top: 220px;
    padding-bottom: 40px;
    margin: 0;
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: 43px;
  }
}
