.site-footer {
  background-color: @light-grey;
  display: flex;
  flex-wrap: wrap;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 64px;
    padding-bottom: 62px;
  }
}

.site-footer__logo-text {
  width: 128px;
  margin-top: 39px;
  margin-left: 76px;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.site-footer__logo {
  border-bottom: 1px solid @ligt-grey-line;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    width: 130px;
    margin: 0;
    border: none;
  }
}

.site-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    width: 165px;
    padding: 0;
  }
}

.site-footer__copyright-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 130px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #444444;
}

.site-footer__copyright-logo {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  filter: grayscale(100%) opacity(75%);
}
