.site-header {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid @ligt-grey-line;
}

.site-header__logo {
  width: 191px;
  margin-left: 20px;
  margin-right: 65px;
}

.site-header__navigation {
  display: inline-block;
}
