.social-networks {
  width: 280px;
  padding-top: 23px;
  padding-bottom: 14px;
  border-bottom: 1px solid @ligt-grey-line;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    border: none;
    width: 16%;
    align-self: flex-end;
  }

  @media (min-width: @desktop-width) {
    width: 126px;
    align-self: unset;
  }
}

.social-networks__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 126px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding-left: 20px;
    padding-top: 10px;
  }
}

.social-networks__item {
  display: inline-block;
}

.social-networks__link {
  display: inline-block;
  text-align: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.social-networks__vk {
  width: 25px;
  height: 15px;

  @media (min-width: @tablet-width) {
    width: 31px;
    height: 20px;
  }
}


.social-networks__instagram {
  width: 15px;
  height: 15px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 23px;
  }
}

.social-networks__fb {
  width: 10px;
  height: 20px;

  @media (min-width: @tablet-width) {
    width: 14px;
    height: 28px;
  }
}

.social-networks__vk:hover,
.social-networks__instagram:hover,
.social-networks__fb:hover {
  fill: @leaf;
}

.social-networks__vk:active,
.social-networks__instagram:active,
.social-networks__fb:active,
.social-networks__vk:focus,
.social-networks__instagram:focus,
.social-networks__fb:focus {
  fill: @leaf;
  opacity: 0.3;
}
