.social-networks {
  padding-top: 26px;
  padding-bottom: 24px;
  border-bottom: 1px solid @ligt-grey-line;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    border: none;
  }
}

.social-networks__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 32px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social-networks__item {
  display: inline-block;
}

.social-networks__link {
  display: inline-block;
  width: 22px;
  height: 19px;
  text-align: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin-left: 40px;
}

.social-networks__link--vk {
  background-image: url("../img/icon-vk.svg");
}

.social-networks__link--instagram {
  background-image: url("../img/icon-insta.svg");
}

.social-networks__link--fb {
  background-image: url("../img/icon-fb.svg");
}
