.site-footer{
  outline: 3px dotted red;
}
.site-footer__logo{
    outline: 3px dotted blue;
}
.site-footer__link{
    outline: 3px dotted green;
}
.site-footer__logo-text{
    outline: 3px dotted white;
}
.site-footer__social{
    outline: 3px dotted orange;
}
.social-networks{
    outline: 3px dotted black;
}
.site-footer__copyright{
    outline: 3px dotted purple;
}
