body * {
  outline-color: red;
  outline-style: solid;
  outline-width: 2px;
}
 body {
   min-width: 320px;
   background: url("../img/prew/cat-energy-index-mobile.jpg") no-repeat 50% 0;
   min-height: 750px;
   margin: 0;
   padding: 0;
 }

.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  outline-color: yellow;
  outline-width: 5px;
  margin-left: auto;
  margin-right: auto;
  /*временно для верстки*/
  /*min-height: 264px;*/
}

.site-header a{
  width: 192px;
  /*временно для верстки*/
  height: 40px;
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom:16px;

}
/*вытянуто из nav  для верстки*/
.site-navigation__menu-spoiler{
  width: 30px;
  /*временно для верстки*/
  height: 40px;
  margin-top: 11px;
  margin-right: 20px;
}

.site-header__navigation{
  flex-grow: 1;
}

.site-menu{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  outline-color: black;
}

.site-menu li{
  outline-color: green;
  /*временно для верстки*/
  height: 65px;
  width: 320px;
}

/*для планшета*/
@media (min-width:768px) {
  body{
    background: url("../img/prew/cat-energy-index-tablet.jpg") no-repeat 50% 0;
  }

}

@media (min-width:768px) {
  .site-header{
    width: 768px;
  }
}

@media (min-width:768px) {
  .site-header a{
    margin-top: 24px;
    width: 185px;
    /*временно для верстки*/
    height: 59px;

  }
}

@media (min-width:768px) {
  .site-navigation__menu-spoiler{
    display: none;
  }
}

@media (min-width:768px) {
  .site-menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width:768px) {
  .site-menu li{
    width: 70px;
  }
}

@media (min-width:768px) {
  .site-header__navigation{
    margin-top: 24px;
    padding-left: 90px;
  }
}



/*для компа*/


@media (min-width:1300px) {
  body {
    background: url("../img/prew/cat-energy-index-desktop.jpg") no-repeat 50% 0;
  }
}

@media (min-width:1300px) {.site-header{
  width: 1300px;
}}
@media (min-width:1300px) {}
@media (min-width:1300px) {}
